/* Blog comment css 
============================================================================================ */
.blog_comment_area{
    border-bottom: 1px solid #2d2d3b;
    .blog_comment_content{
        .blog_comment_tag{
            position: relative;
            padding: 0px 30px;
            h5{
                text-transform: uppercase;
                color: #b7b7b7;
                font-family: 'Octopus_300-Regular';
                font-size: 14px;
                padding: 30px 0px;
                span{
                    color: #b7b7b7;
                    font-family: 'Octopus_300-Regular';
                    font-size: 14px;
                    text-transform: capitalize;
                }
            }
            p{
                text-transform: uppercase;
            }
        }
        .main_img_content_area{
            padding: 50px 0px 40px;
            margin: 0px 60px;
            position: relative;
            border-bottom: 1px solid #2d2d3b;
            .media-left{
                padding-right: 30px;
                .holinger_box{
                    display: inline-block;
                    width: 70px;
                    height: 82px;
                    overflow: hidden;
                    .holinger_image_main_box{
                        width: 76px;
                        height: 130px;
                        overflow: hidden;
                        display: block;
                        position: relative;
                        transform: rotate(45deg);     
                        .holinger_image_box{
                            transform: rotate(-45deg);
                            margin-top: 10px;
                            margin-left: -15px;
                            overflow: hidden;
                            position: relative;
                            z-index: 2;
                            img{
                                width: 70px;
                                height: 70px;
                            }
                            &:before{
                                content: "";
                                position: absolute;
                                right: 22px;
                                bottom: 0;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 0 0px 0px;
                                border-color: transparent transparent rgba(255, 255, 255, 0.20) transparent;
                                z-index: 1;
                                @include transition;
                            }
                            &:hover:before{
                                border-width: 0 0 69px 69px;
                            }
                        }
                    }
                }
            }
            .media-body{
                padding-top: 10px;
                h4{
                    color: #fff;
                    font-family: 'Octopus_300-Regular';
                    font-size: 14px;
                    text-transform: uppercase;
                }
                h5{
                    color: #fff;
                    font-family: 'Octopus_300-Regular';
                    font-size: 14px;
                    padding: 25px 0px;
                    span{
                        color: #b7b7b7;
                    }
                    a{
                        color: #1fbad6;
                        text-decoration: none;
                        margin-left: 5px;
                    }
                }
                p{
                    color: #b7b7b7;
                    font-family: 'Octopus_300-Regular';
                    font-size: 14px;
                }
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
}
/* End Blog comment css 
============================================================================================ */