input{
    &:focus{
        box-shadow: none;
        border: none;
        border-radius: none;
    }
}
label{
    color: #fff !important;
    font-family: 'Octopus_300-Regular' !important; 
}
div#success{
    padding-top: 12px;
    display: none;
}
div#error{
    display: none;
}
/* Contact area 
============================================================================================ */
.contact_area{
    background: url("http://placehold.it/1600x753") no-repeat fixed center center;
    position: relative;
    background-size: cover;
    padding: 100px 0px;
    
    &:before{
        content: "";
        background: rgba(9, 9, 26, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .title{
        position: relative;
        text-align: center;
        p{
            padding: 50px 0px 60px 0px
        }
    }
}
.contact_form_area{
    text-align: center;
    position: relative;
    .contact_main_form{
        max-width: 570px;
        margin: 0 auto;
        .form-group{
            padding-bottom: 25px;
        }
        .name_group{
            background: url("../img/contact_1.png") no-repeat;
            width: 270px;
            float: left;
            margin-right: 30px;
            overflow: hidden;
            input{
                background: transparent;
                border-radius: none;
                border: none;
                background-size: contain;
                height: 36px;
                color: #c6c6c6;
                padding: 0px 20px 0px 24px;
                &:focus{
                    box-shadow: none;
                    border: none;
                    border-radius: none;
                }
            }
        }
        .email_group{
            background: url("../img/contact_2.png") no-repeat;
            width: 270px;
            float: right;
            overflow: hidden;
            input{
                background: transparent;
                border-radius: none;
                border: none;
                background-size: contain;
                height: 36px;
                color: #c6c6c6;
                padding: 0px 20px 0px 24px;
                &:focus{
                    box-shadow: none;
                    border: none;
                    border-radius: none;
                }
            }
        }
        .subject_group{
            background: url("../img/contact_3.png") no-repeat;
            clear: both;
            width: 100%;
            input{
                background: transparent;
                border-radius: none;
                border: none;
                background-size: contain;
                height: 36px;
                color: #c6c6c6;
                padding: 0px 20px 0px 24px;
                &:focus{
                    box-shadow: none;
                    border: none;
                    border-radius: none;
                }
            }
        }
        .message_gropu{
            background: url("../img/contact_4.png") no-repeat;
            width: 100%;
            textarea{
                background: transparent;
                border-radius: none;
                border: none;
                background-size: contain;
                width: 270px;
                height: 108px;
                color: #c6c6c6;
                resize: none;
                width: 100%;
                padding: 5px 20px 0px 24px;
                &:focus{
                    box-shadow: none;
                    border: none;
                    border-radius: none;
                }
            }
        }
        .button_group{
            height: 38px;
            overflow: hidden;
            position: relative;
            text-align: center;
            width: 125px;
            margin: 0 auto;
            input{
                height: 38px;
                overflow: hidden;
                position: relative;
                text-align: center;
                width: 125px;
                z-index: 2;
                text-decoration: none;
                display: inline-block;
                line-height: 30px;
                color: #fff;
                text-transform: uppercase;
                font-size: 14px;
                font-family: 'Octopus_300-Regular';
                border: none;
                border-radius: 0px;
                background: transparent;
                text-shadow: none;
                padding: 0px;
                border-top: 0px;
                box-shadow: none;
                &:focus{
                    box-shadow: none;
                    border: none;
                    outline: none;
                }
            }
            &:before{
                background: #09091a;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform: skew(-45deg);
                width: 114%;
                z-index: 1;
            }
            &:after{
                background: #1fbad6;
                content: "";
                height: 105px;
                left: -33px;
                position: absolute;
                top: 0;
                transform: skew(-45deg);
                transition: all 300ms linear 0s;
                width: 18px;
                z-index: 1;
            }
            &:active{
                border: none;
                box-shadow: none;
                border-radius: none;
                background: transparent;
                color: #fff;
                outline: none;
                outline-offset: none;
                &:focus{
                    border: none;
                    box-shadow: none;
                    border-radius: none;
                    background: transparent;
                    color: #fff;
                    outline: none;
                    outline-offset: none;
                }
            }
            &:hover, &:focus{
                &:after{
                    width: 114%;
                }
            }
        }
    }
}


/* End Contact area 
============================================================================================ */

/* leave comment area 
============================================================================================ */
.leave_comment_main{
    padding: 0px 30px;
    h4{
        color: #b7b7b7;
        font-size: 14px;
        font-family: 'Octopus_300-Regular';
        padding: 50px 0px;
    }
    .leave_comment_area{
        text-align: left !important;
        margin: 0 !important;
        .name_comment{
            background: url("../img/comment_name.png") no-repeat !important;
            width: 270px;
            float: left;
            margin-right: 30px;
            overflow: hidden;
            color: #b7b7b7;
        }
        .email_comment{
            background: url("../img/email_comment.png") no-repeat !important;
        }
        .subject_comment{
            background: url("../img/subject_comment.png") no-repeat !important;
        }
        .message_comment{
            background: url("../img/message_comment.png") no-repeat !important;
        }
        .comment_button{
            width: 170px !important;
            margin: 0 !important
        }
    }
}

/* End leave comment area 
============================================================================================ */