/* Counter area 
============================================================================================ */
.counter_area{
    background: #09091a;
    padding: 100px 0px;
    .counter_one{
        .counter_contain{
            height: 130px;
            width: 130px;
            border-radius: 50%;
            border: 3px solid #1fbad6;
            overflow: hidden;
            text-align: center;
            margin: 0 auto;
            color: #fff;
            font-size: 27px;
            line-height: 126px;
            font-family: 'Octopus_300-Regular';
        }
        .counter_icon_content{
            text-align: center;
            position: relative;
            overflow: hidden;
            top: -15px;
            background: #09091a;
            p{
                color: #898992;
                padding-top: 40px;
                font-size: 16px;
                text-transform: uppercase;
                font-family: 'Octopus_300-Regular';
            }
        }
    }
}
/* End counter area 
============================================================================================ */