/* footer area css
============================================================================================ */
.footer_area{
    background: #09091a;
    padding: 50px 0px;
    position: relative;
    .footer_shadow_img{
        background: url("../img/footer_shadow.png") no-repeat;
        position: absolute;
        top: 0;
        width: 513px;
        height: 100%;
        right: 108px;
        background-size: 100% 100%;
    }
    .footer_main_area{
        .footer_widget{
            padding: 0px 30px;
            border-right: 1px solid #6b6b76;
            height: 280px;
            &:last-child{
                border-right: none;
            }
            h4{
                color: #2dbad6;
                font-size: 27px;
                font-family: 'Octopus_300-Regular';
                padding-bottom: 30px;
                text-transform: uppercase;
            }
            p{
                color: #898992;
                font-family: 'Octopus_300-Regular';
                font-size: 14px;
                line-height: 24px;
                padding-bottom: 35px;
            }
            .footer_link{
                ul{
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    li{
                        a{
                            color: #898992;
                            font-family: 'Octopus_300-Regular';
                            font-size: 14px;
                            line-height: 28px;
                            font-weight: 200;
                            &:hover{
                                text-decoration: none;
                                color: #2dbad6;
                            }
                        }
                    }
                }
            }
            address{
                color: #898992;
                font-size: 14px;
                font-family: 'Octopus_300-Regular';
                line-height: 24px;
                a{
                    color: #898992;
                    font-size: 14px;
                    font-family: 'Octopus_300-Regular';
                    line-height: 24px;
                    &:hover{
                        color: #2dbad6;
                        text-decoration: none;
                    }
                }
            }
            .footer_social{
                padding: 7px 0px 17px 0px;
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        display: table-cell;
                        width: 1%;
                        a{
                            color: #fff;
                            font-size: 18px;
                            display: inline-block;
                            &:hover{
                                color: #2dbad6;;
                            }
                        }
                    }
                }
            }
            .footer_gallary{
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        float: left;
                        overflow: hidden;
                        width: 31%;
                        margin-right: 3%;
                        margin-bottom: 3%;
                        overflow: hidden;
                        position: relative;
                        a{
                            &:before{
                                content: "";
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 0 0px 0px;
                                border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
                                display: block;
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                @include transition;
                            }
                            &:after{
                                content: "\f002";
                                position: absolute;
                                left: -120%;
                                right: 0;
                                top: 50%;
                                bottom: 0;
                                text-align: center;
                                color: #2dbad6;
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                margin-top: -6px;
                                @include transition;
                            }

                            &:hover:before{
                                border-width: 0 0 100px 100px;
                            }
                            &:hover:after{
                                left: 0;
                            }
                        }
                        &:nth-child(3){
                            margin-right: 0px;
                        }
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
    .footer_copyright_area{
        border-top: 1px solid #3a3a48;
        margin-top: 50px;
        text-align: center;
        height: 57px;
        p{
            padding-top: 42px;
            color: #898992;
            i{
                margin-right: 6px;
            }
        }
    }
}
/* end footer area css
============================================================================================ */