.main_cours_detail{
    max-width: 1066px;
    margin: 0 auto;
}
.more_couses_area{
    h3{
        color: #fff;
        font-family: 'Octopus_300-Regular';
        font-size: 27px;
        padding-left: 30px;
        text-transform: uppercase;
        padding-bottom: 45px;
    }
    .more_cours_main{
        padding: 0px 18px;
        .more_box{
            display: inline-block;
            width: 229px;
            height: 390px;
            overflow: hidden;
            position: relative;
            .more_image_main_box{
                width: 338px;
                height: 453px;
                overflow: hidden;
                display: block;
                position: relative;
                transform: rotate(45deg);
                margin-left: -17px;
                .more_image_box{
                    transform: rotate(-45deg);
                    margin-left: -10px;
                    height: 385px;
                    width: 332px;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    &:after{
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 0 225px 225px;
                        border-color: transparent transparent rgba(255, 255, 255, 0.3);
                        position: absolute;
                        right: 104px;
                        bottom: 0;
                        @include transition;
                    }
                    &:hover:after{
                        border-width: 0 0 480px 480px;
                        border-color: transparent transparent rgba(9, 17, 27, 0.7);
                    }
                    &:hover .more_cours_image_box_title{
                        opacity: 0;
                    }
                    &:hover .more_cours_image_box_content{
                        left: 0;
                    }
                    .more_cours_image_box_title{
                        position: absolute;
                        z-index: 2;
                        left: 0px;
                        bottom: 70px;
                        color: #fff;
                        background-color: rgba(34, 34, 49, 0.90);
                        width: 100%;
                        transform: skew(-45deg);
                        opacity: 1;
                        @include transition;
                        h3{
                            font-size: 16px;
                            font-family: 'Octopus_300-Regular';
                            transform: skew(45deg);
                            padding: 0px;
                            margin: 13px 0px 13px 35px;
                            line-height: 24px;
                        }
                    }
                    .more_cours_image_box_content{
                        position: absolute;
                        left: -70%;
                        bottom: 40px;
                        color: #fff;
                        z-index: 3;
                        padding: 0 30px;
                        width: 68%;
                        @include transition;
                        font-size: 16px;
                        font-family: 'Octopus_300-Regular';
                        h3{
                            font-size: 16px;
                            font-family: 'Octopus_300-Regular';
                            padding-bottom: 2px;
                            padding-left: 0px;
                        }
                        p{
                            font-size: 14px;
                            font-family: 'Octopus_300-Regular';
                            padding: 28px 0px 4px;
                            color: #898992;
                        }
                        h5{
                            font-size: 16px;
                            font-family: 'Octopus_300-Regular';
                            padding: 20px 0px 28px;
                        }
                        a{
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
}
