/* our team css
============================================================================================ */
.our_team_area{
    background: #151525;
    .our_team_main_area{
        padding: 0px 15px;
        .title{
            padding: 60px 15px;
            h4{
                font-size: 36px;
                font-family: 'Octopus_300-Regular';
                color: #fff;
            }
        }
        .team_main_wrapper{
            padding: 0px 7px;
            .our_team{
                padding: 0px 8px;
                .team_box{
                    display: inline-block;
                    width: 230px;
                    height: 231px;
                    overflow: hidden;
                    position: relative;
                    .team_image_main_box{
                        width: 395px;
                        height: 500px;
                        overflow: hidden;
                        display: block;
                        position: relative;
                        transform: rotate(45deg);        
                        margin-left: -49px;
                        .team_image_box{
                            transform: rotate(-45deg);
                            margin-left: -64px;
                            img{
                                margin-top: -25px;
                            }
                        }
                    }
                    &:after{
                        content: "";
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 0 0 0;
                        border-color: transparent transparent rgba(255, 255, 255, 0.20) transparent;
                        position: absolute;
                        right: 0;
                        bottom: 5px;
                        overflow: hidden;
                        @include transition;
                    }
                    &:hover{
                        &:after{
                            border-width: 0 0 230px 230px;
                        }
                    }
                }
                .our_team_content{
                    padding: 38px 0px 50px;
                    h4{
                        color: #fff;
                        font-family: 'Octopus_300-Regular';
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 24px;
                        
                    }
                    p{
                        color: #b7b7b7;
                        font-family: 'Octopus_300-Regular';
                        font-size: 14px;
                        padding-bottom: 30px;
                        padding-top: 30px;
                        width: 70%;
                    }
                    .team_social_media{
                        width: 70%;
                        ul{
                            li{
                                display: table-cell;
                                width: 1%;
                                a{
                                    color: #fff;
                                    font-size: 16px;
                                    &:hover{
                                        color: #1fbad6;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* our team css
============================================================================================ */