/* pricing area 
============================================================================================ */
.price_table{
    padding: 0 30px;
    .inner{
        margin: 0;
    }
}
.membership_area{
    background: #151525;
    padding: 100px 0px;
    .title{
        text-align: center;
        padding-bottom: 50px;
        p{
            width: 51%;
            margin: 0 auto;
            padding-top: 30px;
        }
    }
    .membership_price{
        border: 1px solid #2d2d3b;
        text-align: center;
        overflow: hidden;
        .membership_price_top{
            height:150px;
            overflow: hidden;
            padding-top: 28px;
            color: #fff;
            position: relative;
            z-index: 3;
            &:after{
                content: "";
                position: absolute;
                right: 0px;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 328px 328px;
                border-color: transparent transparent #09091a transparent;
                z-index: -1;
            }
            &:before{
                content: "";
                position: absolute;
                height: 150px;
                width: 60px;
                left: 0;
                top: 0;
                transform: skew(-45deg);
                z-index: -1;
                background: #222231;
            }
            i{
                font-size: 36px;
                margin-bottom: 30px;
            }
            h4{
                font-family: 'Octopus_300-Regular';
                font-size: 27px;
            }
        }
        .membership_price_middle{
            width: 87%;
            margin: 0 auto;
            border-bottom: 1px solid #2d2d3b;
            p{
                padding: 35px 0px;
            }
        }
        .membership_price_bottom{
            h3{
                border-bottom: 1px solid #2d2d3b;
                width: 90px;
                font-size: 36px;
                margin: 0 auto;
                color: #fff;
                padding: 35px 0;
            }
            p{
                text-transform: uppercase;
                padding: 35px 0;
                font-size: 14px;
            }
        }
    }
    .membership_button{
        text-align: center;
        a{
            height: 55px;
            overflow: hidden;
            position: relative;
            text-align: center;
            width: 200px;
            z-index: 2;
            margin-top: 50px;
            text-decoration: none;
            display: inline-block;
            line-height: 60px;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            font-family: 'Octopus_300-Regular';
            &:before{
                background: #222231;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform: skew(-45deg);
                width: 114%;
                z-index: -2;
            }
            &:after{
                background: #3a3a48;
                content: "";
                height: 105px;
                left: -24px;
                position: absolute;
                top: 0;
                transform: skew(-45deg);
                transition: all 300ms linear 0s;
                width: 27px;
                z-index: -1;
            }
            &:hover:after{
                width: 114%;
            }
        }
    }
    .membership_price_hover{
        .membership_price_top{
            &:before{
                content: "";
                position: absolute;
                height: 150px;
                width: 60px;
                left: 0;
                top: 0;
                transform: skew(-45deg);
                z-index: -1;
                background: #1fbad6;
            }
        }
        .membership_price_bottom{
            h3{
                color: #1fbad6;
            }
        }
    }
    .membership_button_hover{
        a{
            &:after{
                background: #1fbad6 !important;
                z-index: -1;
            }
        }
    }
}
/* End pricing area 
============================================================================================ */