/* skills css
============================================================================================ */
.about_skill_area{
    .title{
        padding-top: 40px;
        padding-bottom: 60px;
        padding-left: 30px;
        padding-right: 30px;
        h4{
            font-size: 36px;
            font-family: 'Octopus_300-Regular';
            color: #fff;
        }
    }
    .skill_main{
        padding: 0px 30px;
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
            li{
                color: #fff;
                font-family: 'Octopus_300-Regular';
                font-size: 14px;
                width: 95%;
                background: #1fbad6;
                margin-bottom: 30px;
                text-transform: uppercase;
                padding-left: 25px;
                line-height: 36px;
                &:nth-child(2){
                    width: 75%;
                }
                &:nth-child(3){
                    width: 80%;
                }
                 &:last-child{
                    width: 90%;
                }
            }
        }
    }
}
/* end skills css
============================================================================================ */