/* Our cours area 
============================================================================================ */
.our_cours_area{
    background: url("http://placehold.it/1600x832") no-repeat fixed center center;
    position: relative;
    background-size: cover;
    &:before{
        content: "";
        background:rgba(9, 9, 26, 0.70); 
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .cours_title{
        color: #fff;
        text-align: center;
        margin-top: 100px;
        position: relative;
        h2{
            margin-bottom: 30px;
            cursor: pointer;
        }
        p{
            width: 45%;
            margin: 0 auto;
            margin-bottom: 35px;
        }
    }
    .cours_slider{
        padding-left: 50px;
        padding-right: 50px;
        .cours_slider_carousel{
            .item{
                .box{
                    display: inline-block;
                    width: 245px;
                    height: 390px;
                    overflow: hidden;
                    position: relative;
                    .image_main_box{
                        width: 338px;
                        height: 453px;
                        overflow: hidden;
                        display: block;
                        position: relative;
                        transform: rotate(45deg);        
                        .image_box{
                            transform: rotate(-45deg);
                            margin-left: -10px;
                            height: 385px;
                            width: 332px;
                            position: relative;
                            overflow: hidden;
                            z-index: 1;
                            &:after{
                                content: "";
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 0 225px 225px;
                                border-color: transparent transparent rgba(255, 255, 255, 0.3);
                                position: absolute;
                                right: 107px;
                                bottom: 0;
                                @include transition;
                            }
                            &:hover:after{
                                border-width: 0 0 480px 480px;
                                border-color: transparent transparent rgba(9, 17, 27, 0.7);
                            }
                            &:hover .cours_image_box_title{
                                opacity: 0;
                            }
                            &:hover .cours_image_box_content{
                                left: 0;
                            }
                            img{
                                height: 390px;
                                margin-left: -5px;
                                width: 230px;
                            }
                            .cours_image_box_title{
                                position: absolute;
                                z-index: 2;
                                left: 0px;
                                bottom: 70px;
                                color: #fff;
                                background-color: rgba(34, 34, 49, 0.90);
                                width: 100%;
                                transform: skew(-45deg);
                                opacity: 1;
                                @include transition;
                                h3{
                                    font-size: 16px;
                                    font-family: 'Octopus_300-Regular';
                                    transform: skew(45deg);
                                    margin: 0;
                                    margin: 15px 0px 15px 35px;
                                }
                            }
                            .cours_image_box_content{
                                position: absolute;
                                left: -70%;
                                bottom: 40px;
                                color: #fff;
                                z-index: 3;
                                padding: 0 20px;
                                width: 68%;
                                @include transition;
                                font-size: 16px;
                                font-family: 'Octopus_300-Regular';
                                h3{
                                    font-size: 16px;
                                    font-family: 'Octopus_300-Regular';
                                }
                                p{
                                    font-size: 14px;
                                    font-family: 'Octopus_300-Regular';
                                    padding: 28px 0px 4px;
                                    color: #898992;
                                }
                                h5{
                                    font-size: 16px;
                                    font-family: 'Octopus_300-Regular';
                                    padding: 20px 0px 20px;
                                }
                                a{
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
            }
            .owl-controls{
                .owl-dots{
                    text-align: center;
                    .owl-dot{
                        height: 10px;
                        width: 10px;
                        margin-right: 7px;
                        background: #fff;
                        display: inline-block;
                        margin-top: 45px;
                        margin-bottom: 80px;
                        border-radius: 2px;
                        &:hover{
                            background: #1fbad6;
                        }
                    }
                    .owl-dot.active{
                        background: #1fbad6;
                    }
                }
            }
        }
    }
}
/* End our cours area 
============================================================================================ */
/* holinger area 
============================================================================================ */
.holiger_area{
    background: url("http://placehold.it/1600x832") no-repeat fixed center center;
    position: relative;
    padding: 200px 0px;
    background-size: cover;
    &:before{
        content: "";
        background: rgba(9, 9, 26, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .holinger_single_slider{
        .holinger_single_slider_main{
            position: relative;
            text-align: center;
            color: #fff;
            .item{
                width: 65%;
                margin: 0 auto;
                .customer_review{
                    i{
                        font-size: 44px;
                        color: #1fbad6;
                        padding-bottom: 30px;
                    }
                    p{
                        color: #fff;
                        font-family: 'Octopus_300-Regular';
                        font-size: 14px;
                        line-height: 28px;
                        padding-bottom: 30px;
                    }
                }
                .customer_details{
                    padding-bottom: 35px;
                    .holinger_box{
                        display: inline-block;
                        width: 70px;
                        height: 82px;
                        overflow: hidden;
                        .holinger_image_main_box{
                            width: 76px;
                            height: 130px;
                            overflow: hidden;
                            display: block;
                            position: relative;
                            transform: rotate(45deg);        
                            .holinger_image_box{
                                transform: rotate(-45deg);
                                margin-top: 10px;
                                margin-left: -15px;
                                overflow: hidden;
                                position: relative;
                                z-index: 2;
                                img{
                                    width: 70px;
                                    height: 70px;
                                }
                                &:before{
                                    content: "";
                                    position: absolute;
                                    right: 22px;
                                    bottom: 0;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 0 0 0px 0px;
                                    border-color: transparent transparent rgba(255, 255, 255, 0.20) transparent;
                                    z-index: 1;
                                    @include transition;
                                }
                                &:hover:before{
                                    border-width: 0 0 69px 69px;
                                }
                            }
                        }
                    }
                    h3{
                        font-size: 27px;
                        font-family: 'Octopus_300-Regular';
                        padding-top: 50px;
                        padding-bottom: 30px;
                    }
                    h5{
                        font-size: 14px;
                        font-family: 'Octopus_300-Regular';
                    }
                }
            }
            .owl-controls{
                .owl-dots{
                    position: relative;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    .owl-dot{
                        width: 12px;
                        display: inline-block;
                        border: 2px solid #adaba7;
                        height: 12px;
                        border-radius: 3px;
                        margin-bottom: 5px;
                        margin-right: 7px;
                        &.active{
                            background: #fff;
                            border: 1px solid transparent;
                        }
                        &:hover{
                            background: #fff;
                            border: 2px solid #fff;
                        }
                    }
                }
            }
        }
    }
}
/* End holinger area 
============================================================================================ */

/* client carousol area 
============================================================================================ */
.our_client_carousel{
    background: #222231;
    .client_carousel{
        position: relative;
        .client_slider{
            max-width: 1130px;
            margin: 0 auto;
            text-align: center;
            padding: 54px 0px;
            .item{
                padding: 0 50px;
                img{
                    width: auto;
                    height: auto;
                }
            }
        }
        .owl-prev{
            background: url(../img/client_left_arrow.png) no-repeat;
            height: 54px;
            width: 30px;
            position: absolute;
            left: 0px;
            top: 50%;
            margin-top: -24px;
            cursor: pointer;
            &:hover{
                background: url(../img/client_left_arrow_h.png) no-repeat;
            }
        }
        .owl-next{
            height: 54px;
            width: 30px;
            background: url(../img/client_right_arrow.png) no-repeat;
            position: absolute;
            right: 0px;
            top: 50%;
            margin-top: -24px;
            cursor: pointer;
            &:hover{
                background: url(../img/client_right_arrow_hover.png) no-repeat;
            }
        }
    }
}
/* End client carousol area 
============================================================================================ */

/* simple blog feature img area 
============================================================================================ */
.simple_blog_psot{
    overflow: hidden;
    .simple_blog_feature_img, .simple_blog_feature_slider, .simple_blog_detail_feature_img{
        position: relative;
        overflow: hidden;
        .item{
            overflow: hidden;
        }
        .simple_feature_box{
            display: inline-block;
            width: 1030px;
            height: 455px;
            overflow: hidden;
            position: relative;
            margin-top: -18px;
            .simple_feature_image_main_box{
                width: 1693px;
                height: 1041px;
                overflow: hidden;
                display: block;
                position: relative;
                transform: rotate(45deg);
                margin-left: -45px;
                .simple_feature_image_box{
                    transform: rotate(-45deg);
                    margin-left: -195px;
                    img{
                        width: 1030px;
                    }
                }
            }
            &:after{
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 0 0;
                border-color: transparent transparent rgba(255, 255, 255, 0.2) transparent;
                position: absolute;
                right: 0;
                bottom: 0;
                overflow: hidden;
                @include transition;
            }
        }
        .owl-prev{
            background: url(../img/blog_left.png) no-repeat;
            height: 54px;
            width: 30px;
            position: absolute;
            left: 30px;
            top: 51%;
            transform: translateX(0) translateY(-50%);
            z-index: 1;
            cursor: pointer;
            &:hover{
                background: url(../img/blog_left_h.png) no-repeat;
            }
        }
        .owl-next{
            height: 54px;
            width: 30px;
            background: url(../img/blog_right.png) no-repeat;
            position: absolute;
            right: 30px;
            top: 51%;
            transform: translateX(0) translateY(-50%);
            cursor: pointer;
            &:hover{
                background: url(../img/blog_right_h.png) no-repeat;
            }
        }
        &:hover{
            .simple_feature_box{
                &:after{
                    border-width: 0 0 440px 440px;
                }
            }
        }
        .owl-controls{
            text-align: center;
            .owl-dots{
                position: relative;
                bottom: 0;
                right: 0;
                left: 0;
                top:-50px;
                .owl-dot{
                    width: 12px;
                    display: inline-block;
                    border: 2px solid #adaba7;
                    height: 12px;
                    border-radius: 3px;
                    margin-bottom: 5px;
                    margin-right: 7px;
                    @include transition;
                    &.active{
                        background: #1fbad6;
                        border: 1px solid transparent;
                    }
                    &:hover{
                        background: #1fbad6;
                        border: 2px solid #1fbad6;
                    }
                }
            }
        }
    }
}
.col_simple_blog_feature_img{
    width: 730px !important;
    height: 411px !important;
    .simple_feature_image_main_box{
        .simple_feature_image_box{
            img{
                width: 730px !important;
            }
        }
    }
    &:hover:after{
        border-width: 0 0 387px 412px !important;
    }
}
.simple_blog_psot .simple_blog_feature_img:hover .simple_feature_boxs:after, .simple_blog_psot .simple_blog_feature_slider:hover .simple_feature_boxs:after, .simple_blog_psot .simple_blog_detail_feature_img:hover .simple_feature_boxs:after{
    border-width: 0px 0px 387px 412px !important;
}

/* end simple blog feature img area 
============================================================================================ */