/* social media css
============================================================================================ */
.social_icon_media{
    border-top: 1px solid #2d2d3b;
    border-bottom: 1px solid #2d2d3b;
    line-height: 65px;
    ul{
        li{
            display: inline-block;
            a{
               color: #fff;
                font-size: 16px;
                display: inline-block;
                &:hover, &:focus{
                    background: none;
                    color: #1fbad6;
                }
            }
        }
    }
}

/* End social media css
============================================================================================ */