/* subscriber area 
============================================================================================ */
.subscriber_area{
    background: #151525;
    padding: 100px 0px;
    text-align: center;
    overflow: hidden;
    .title{
        padding-bottom: 50px;
    }
    .subscribe_input_area{
        .form-inline{
            padding-left: 30px;
            .subscribe_group_one{
                background: url("../img/name-bg.png") no-repeat;
                margin-right: -20px;
                input[type="text"]{
                    background: transparent;
                    border-radius: none;
                    border: none;
                    background-size: contain;
                    width: 335px;
                    height: 36px;
                    color: #c6c6c6;
                    padding: 0px 40px 0 30px;
                    &:focus{
                        box-shadow: none;
                        border: none;
                        border-radius: none;
                    }
                }
            }
            .subscribe_group_two{
                background: url("../img/email-bg.png") no-repeat;
                margin-left: -20px;
                input[type="email"]{
                    background: transparent;
                    border-radius: none;
                    border: none;
                    background-size: contain;
                    width: 335px;
                    height: 36px;
                    color: #c6c6c6;
                    padding: 0px 30px 0 40px;
                    &:focus{
                        box-shadow: none;
                        border: none;
                        border-radius: none;
                    }
                }
            }
            p{
                color: #666666;
                font-size: 14px;
                width: 44%;
                margin: 0 auto;
                padding-top: 35px;
                padding-bottom: 50px;
            }
        }
    }
}
/* end subscriber area 
============================================================================================ */