// Mixins
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// button css
.clearfix{
    margin: 0;
    padding: 0;
}
.best_area_button{
    background: url("../img/best_slider_button.png") no-repeat scroll 0 0;
    text-align: center;
    height: 36px;
    width: 130px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #1fbad6;
    line-height: 35px;
    &:before{
        content: "";
        height: 36px;
        width: 0;
        background: rgb(31, 186, 214);
        transform: skew(-45deg);
        position: absolute;
        left: 0%;
        z-index: -2;
        @include transition;
    }
    span{
        z-index: 9;
        display: inline-block;
        @include transition;
    }
    &:hover, &:focus{
        color: #fff;
        text-decoration: none;
        &:before{
            width: 150px;
            height: 90px;
            left: -28px;
        }
    }
}
// subscriber button css
.subscribe_input_area{
    .form-inline{
        button{
            height: 38px;
            overflow: hidden;
            position: relative;
            text-align: center;
            width: 125px;
            z-index: 2;
            text-decoration: none;
            display: inline-block;
            line-height: 30px;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'Octopus_300-Regular';
            border: none;
            border-radius: 0px;
            background: transparent;
            text-shadow: none;
            padding: 0px;
            border-top: 0px;
            box-shadow: none;
            font-weight: normal;
            &:before{
                background: #09091a;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform: skew(-45deg);
                width: 114%;
                z-index: -2;
            }
            &:after{
                background: #1fbad6;
                content: "";
                height: 105px;
                left: -33px;
                position: absolute;
                top: 0;
                transform: skew(-45deg);
                transition: all 300ms linear 0s;
                width: 18px;
                z-index: -1;
            }
            &:active{
                border: none;
                box-shadow: none;
                border-radius: none;
                background: transparent;
                color: #fff;
                outline: none;
                outline-offset: none;
                &:focus{
                    border: none;
                box-shadow: none;
                border-radius: none;
                    background: transparent;
                    color: #fff;
                    outline: none;
                outline-offset: none;
                }
            }
            &:hover, &:focus{
                &:after{
                    width: 114%;
                }
            }
        }
    }
}

/* simple blog read more button
============================================================================================ */
.blog_readmore_button{
    background: url("../img/read_more_button.png") no-repeat scroll 0 0;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0px;
    &:before{
        z-index: 0;
    }
    span{
        position: relative;
        font-size: 14px;
        font-family: 'Octopus_300-Regular';
    }
}
/* end simple blog read more button
============================================================================================ */



.blog_date{
    float: left;
    overflow: hidden;
    padding-right: 30px;
    margin-top: 32px;
    a{
        height: 110px;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 130px;
        z-index: 2;
        text-decoration: none;
        display: block;
        color: #fff;
        font-size: 48px;
        font-family: 'Octopus_300-Regular';
        padding-top: 25px;
        span{
            font-size: 16px;
            font-family: 'Octopus_300-Regular';
            display: block;
            margin-top: -15px;
            z-index: 2;
            text-decoration: none;
        }
        &:after{
            content: "";
            background: #09091a;
            z-index: -2;
            width: 148%;
            height: 100%;
            display: block;
            position: absolute;
            transform: skew(-45deg);
            left: 0px;
            top:0px;
        }
        &:before{
            content: "";
            background: #1fbad6;
            display: block;
            width: 32px;
            height: 210px;
            position: absolute;
            left: -54px;
            top: 0px;
            z-index: -1;
            transform: skew(-45deg);
            @include transition;
        }
        &:hover{
            &:before{
                width: 148%;
            }
        }
        &:hover, &:focus{
            text-decoration: none;
        }
    }
}