/* video area css
============================================================================================ */
.simple_blog_feature_video{
    iframe{
        width: 100%;
        height: 580px;
        position: relative;
        border: 0px solid transparent;
    }
}
.blog_box_video{
    iframe{
        width: 330px;
        position: relative;
        height: 215px;
        border: 0px solid transparent;
    }
}
/* End video area css
============================================================================================ */