/*----------------------------------------------------
@File: Default Styles
@Author: Rocky
@URL: http://rocky.obaidul.com

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
---------------------------------------------------- */

/*----------------------------------------------------*/
@import "variables";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "slider";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "precing";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "counter";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "subscriber";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "contact-form";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "top-bg";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "about-us";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "skills";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "our-team";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "detail";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "course-detail-list";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "more-courses";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "video";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "social-media";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "blog-comment";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "right-sidebar";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "index-B";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "blog-post";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "simple-blog";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "simple-blog-detail";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */