@media screen and (max-width: 1199px) {
   .header_main_area .feature_carusol_area .feature_carusol .item:hover .feature_carusol_title_bg {
        left: -59%;
    }
    .club_area .club_img_area .box {
        margin-left: -54px;
        padding-left: 15px;
    }
    .blance{
        padding-right: 50px;
    }
    .our_client_carousel .client_carousel .client_slider {
        padding: 54px 30px;
    }
    .our_client_carousel .client_carousel .client_slider .item {
        display: inline-block;
    }
    .our_client_carousel .client_carousel .owl-prev {
        z-index: 999;
    }
    .our_client_carousel .client_carousel .owl-next {
        z-index: 99;
    }
    .our_client_carousel .client_carousel .client_slider .item {
        padding: 0 0;
    }
    .about_total_area {
        overflow: hidden;
    }
    /* simple blog page responsive */

    /* end simple blog page responsive */
    
    /* simple blog detail page responsive */
    
    /* end simple blog detail page responsive */
    
    /* detail page responsive */

    /* end detail page responsive */
    
    /* end blog post sidebar page responsive */
    .right_side {
        padding-left: 70px;
        padding-right: 40px;
    }
    /* end blog post sidebar page responsive */
    
    .about_total_area .main_wrapper{
        overflow: hidden;
    }
}
@media screen and (max-width: 991px) {
   .header_main_area .feature_carusol_area .feature_carusol .item:hover .feature_carusol_title_bg {
        left: -45%;
    }
    .best_slider_main_area_content .best_area_slider_css .best_yoga_area .best_yoga_content {
        width: 100%;
        float: none;
        overflow: hidden;
    }
    .best_slider_main_area_content .best_area_slider_css .best_yoga_area .best_yoga_content .best_yoga {
         margin-left: 0px; 
    }
    .best_slider_main_area_content .best_area_slider_css .best_yoga_area .best_yoga_content .best_yoga_list {
        margin-left: 22px;
        margin-bottom: 76px;
    }
    .best_slider_main_area_content .best_area_slider_css .best_yoga_area .best_yoga_content .box .image_main_box .image_box img {
        margin-left: -80px;
    }
    .menu_container{
        width: 100%;
        padding: 0px 30px;
    }
    .header_main_area .main-menu-are .menu-1 ul li a {
        padding: 0px 10px;
    }
    .header_main_area .main-menu-are .menu-2 ul li a {
        padding: 0px 10px;
    }
    .club_area .club_img_area .box {
        margin-left: -54px;
    }
    .our_teacher_area .col-md-3 .row{
        margin: 0px;
    }
    .our_teacher_area .teacher_img_area .teacher_content {
        padding-bottom: 35px;
        color: #fff;
    }
    .facilities_area .facilities_tab_area .facilities_works-item .single_facilities .single_facilities_hover h4 {
        font-size: 16px;
    }
    .tips_news_area .tips_news_main_content .news_running_mg .news_running_left_content {
        margin-left: 0px;
    }
    .tips_news_area .tips_news_main_content .news_running_mg {
        margin-top: 30px;
    }
    .price_table {
        padding: 0 10px;
    }
    .membership_area .membership_price .membership_price_top {
        height: 130px;
    }
    .membership_area .membership_price .membership_price_top i {
        margin-bottom: 15px;
    }
    .membership_area .membership_price .membership_price_middle p {
        padding: 15px 0px;
    }
    .membership_area .membership_price .membership_price_bottom h3 {
        padding: 15px 0;
    }
    .membership_area .membership_price .membership_price_top::after {
        border-width: 0 0 250px 250px;
    }
    .membership_area .membership_price .membership_price_top::before {
        height: 112px;
        width: 41px;
    }
    .footer_area .footer_main_area .footer_widget {
        border: none;
        height: auto;
        padding-bottom: 50px;
    }
    .footer_area .footer_shadow_img {
        display: none;
    }
    .footer_area .footer_main_area .footer_widget .footer_gallary ul li {
        float: left;
        overflow: hidden;
        width: auto; 
        margin-right: 3%;
        margin-bottom: 3%;
        overflow: hidden;
        position: relative;
    }
    .footer_area .footer_main_area .footer_widget .footer_gallary ul li:nth-child(3) {
         margin-right: 3%; 
    }
    /* About us page responsive */
    /* End About us page responsive */
    
    /* simple blog page responsive */
    .simple_blog_area .simple_blog_shadow {
        width: 100%;
    }
    .simple_blog_psot .simple_blog_feature_img .simple_feature_box::after, .simple_blog_psot .simple_blog_feature_slider .simple_feature_box::after, .simple_blog_psot .simple_blog_detail_feature_img .simple_feature_box::after {
        right: 278px;
    }
    /* end simple blog page responsive */
    
    /* simple blog detail page responsive */
    .header_main_area .about_header_bg.detail_bg img {
        width: auto;
        height: auto;
    }
    .about_total_area .about_img_description_area .about_box:after{
        right: 160px;
    }
    /* end simple blog detail page responsive */
    
    /* detail page responsive */
    .more_couses_area .more_cours_main .more_box {
        margin-bottom: 25px;
    }
    
    /* end detail page responsive */
    
    
    /* simple blog post sidebar page responsive */
    .simple_feature_box.col_simple_blog_feature_img::after {
        right: 0px !important;
    }
    .right_side {
        padding-left: 0px;
        padding-right: 0px;
    }
    .widget_area_right {
        padding-top: 50px;
    }
    /* end simple blog post sidebar page responsive */
    
    
    .our_teacher_area .first_list{
        width: 50%;
        float: left;
        overflow: hidden;
    }
    .our_teacher_area .teacher_listing{
        width: 50%;
        float: left;
        overflow: hidden;
    }
}
@media screen and (max-width: 767px) {
        .menu-1 .nav{
        text-align: center;
    }
    .menu-1 ul li{
        display: block !important;
        text-align: center;
    }
    .menu-1 ul li a{
        display: inline-block;
    }
    .menu-2 {
        float: none;
    }
    .menu-2 ul li{
        display: block !important;
        text-align: center;
    }
    .menu-1 ul li:nth-child(5){
        display: none !important;
        text-align: center;
    }
    .menu-1 ul li:nth-child(5):before{
        display: none;
    }
    .menu-1 ul li:nth-child(6){
        display: none !important;
        text-align: center;

    }
    .menu-1 ul li:nth-child(7){
        display: none !important;
        text-align: center;

    }
    .menu-1 ul li:last-child{
        display: none !important;
        text-align: center;

    }
    
    .header_main_area .main-menu-are .menu-2 ul li.search_drop{
        display: none !important;
    }
    .header_main_area .main-menu-are .menu-2 ul li .sub_menu{
        top: 0 !important;
        z-index: 99;
        position: relative !important;
        text-align: left;
        background: transparent !important;
        transform: rotateY(0deg) !important;
    }
    .best_area .best_area_title h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .best_area .best_area_title p{
        width: 98%;
    }
    .header_main_area .main-menu-are .main_menu{
        max-height: calc(100vh - 60px);
    }
    .header_main_area .main-menu-are .logo {
        line-height: 60px;
    }
    .club_area .club_content_area {
        padding: 0px 15px;
    }
    .responsive_button{
            background: #fff;
            margin-top: 13px;
        }
    .responsive_button span{
                background: #1fbad6;
    }
    .navbar-collapse{
        width: 100%;
    }
    .best_slider_main_area_content .best_area_slider_css .best_yoga_area .best_yoga_content {
        width: 100%;
        float: none;
        overflow: hidden;
    }
    .subscriber_area .subscribe_input_area .form-inline .subscribe_group_one {
        margin-right: 0px;
    }
    .header_main_area .feature_carusol_area .feature_carusol .item:hover .feature_carusol_title_bg {
        left: -55%;
    }
    .header_main_slider_area .item img {
        width: auto;
    }
    .best_slider_main_area_content .best_area_slider_css .best_yoga_area {
        padding-left: 15px;
        padding-right: 15px;
    }
    .our_cours_area .cours_title p {
        width: 100%;
        padding: 0px 15px;
    }
    .facilities_area .facilities_title p {
        width: 100%;
        padding: 30px 15px 0px;
    }
    .facilities_area .facilities_tab_area .facilities_works-item .slingle_facilities_one {
        width: 50%;
        overflow: hidden;
    }
    .facilities_area .facilities_tab_area .facilities_works-item .slingle_facilities_two {
        width: 100%;
    }
    .tips_news_area .tips_news_main_content {
        padding: 0px 0px;
    }
    .tips_news_area .tips_news_main_content .tips_news_right_content h4 {
        padding-top: 15px;
    }
    .membership_area .title p {
        width: 100%;
    }
    .membership_area .membership_price {
        width: 290px;
        margin: 0 auto;
    }
    .membership_area .membership_price .membership_price_top::after {
        border-width: 0 0 330px 330px;
    }
    .membership_area .membership_button {
        text-align: center;
        margin-bottom: 30px;
    }
    .subscriber_area .subscribe_input_area .form-inline .subscribe_group_one {
        display: inline-block;
    }
    .subscriber_area .subscribe_input_area .form-inline .subscribe_group_two {
        display: inline-block;
        margin-left: -41px;
    }
    .subscriber_area .subscribe_input_area .form-inline {
         padding-left: 0px; 
    }
    h2{
        font-family: 'Octopus_300-Regular';
        font-size: 30px;
        color: #fff;
        font-weight: normal;
    }
    .footer_area .footer_main_area .footer_widget h4 {
        color: #2dbad6;
        font-size: 24px;
        font-family: 'Octopus_300-Regular';
        padding-bottom: 30px;
        text-transform: uppercase;
    }
    
    /* About us page responsive */
    .header_main_area .about_header_bg .about_title_area h3 {
        padding-left: 15px;
    }
    .about_total_area .about_img_description_area .about_box::after {
        right: 260px;
    }
    /* End About us page responsive */
    
    /* simple blog page responsive */
    .simple_blog_feature_video iframe {
        height: 429px;
    }
    /* end simple blog page responsive */
    
    /* simple blog detail page responsive */
    .simple_blog_psot .simple_blog_feature_img .simple_feature_box .simple_feature_image_main_box .simple_feature_image_box img, .simple_blog_psot .simple_blog_feature_slider .simple_feature_box .simple_feature_image_main_box .simple_feature_image_box img, .simple_blog_psot .simple_blog_detail_feature_img .simple_feature_box .simple_feature_image_main_box .simple_feature_image_box img {
        width: 767px;
        margin-left: -39px;
    }
    .simple_blog_psot .simple_blog_feature_img:hover .simple_feature_box:after, .simple_blog_psot .simple_blog_feature_slider:hover .simple_feature_box:after, .simple_blog_psot .simple_blog_detail_feature_img:hover .simple_feature_box:after{
        border-width: 0px 0px 330px 330px;
    }
    .simple_blog_psot .simple_blog_feature_img .simple_feature_box::after, .simple_blog_psot .simple_blog_feature_slider .simple_feature_box::after, .simple_blog_psot .simple_blog_detail_feature_img .simple_feature_box::after{
        right: 263px;
    }
    .simple_blog_psot .simple_blog_feature_img .simple_feature_box::after, .simple_blog_psot .simple_blog_feature_slider .simple_feature_box::after, .simple_blog_psot .simple_blog_detail_feature_img .simple_feature_box::after {
        bottom: 90px;
    }
    /* end simple blog detail page responsive */
    
    /* detail page responsive */
    .header_main_area .about_header_bg .about_title_area .title_link i {
        margin: 0px 5px;
    }
    .course_des_area .cours_detail_des {
        padding: 0px 0;
    }
    .right_side {
        padding-left: 40px;
        padding-right: 40px;
    }
    .simple_feature_box.col_simple_blog_feature_img:after{
        right: 44px !important;
        bottom: 0px !important;
    }
    .simple_blog_area .simple_blog_psot .simple_blog_content_area {
        padding: 0px 0px 0px 0px;
    }
    .widget_area_right {
        padding-right: 0px;
        padding-left: 10px;
        margin-top: 50px;
    }
    /* end detail page responsive */
    
    .footer_area .footer_main_area .footer_widget {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 699px) {
    .header_main_area .feature_carusol_area .feature_carusol .item:hover .feature_carusol_title_bg {
        left: -10%;
    }
    .header_main_area .header_main_slider_area .item .slider_text h1 {
        font-size: 35px;
    }
    .header_main_area .header_main_slider_area .item .slider_text p {
        font-size: 25px;
    }
    .header_main_area .header_main_slider_area .item .slider_text {
        top: 45%;
    }
    
    /* simple blog page responsive */
    
    /* end simple blog page responsive */
    
    /* simple blog detail page responsive */

    /* end simple blog detail page responsive */
    
    
    .leave_comment_main .leave_comment_area .name_comment {
        float: none;
    }
    .leave_comment_main .leave_comment_area .email_comment {
        background-size: contain !important;
    }
    .contact_form_area .contact_main_form .email_group {
        float: none; 
    }
    .leave_comment_main .leave_comment_area .name_comment {
        background-size: contain !important;
    }
    .leave_comment_main .leave_comment_area .subject_comment {
        background: url("../img/subject_comment.png") no-repeat !important;
        background-size: 100% 100% !important;
        height: 36px;
    }
    .leave_comment_main .leave_comment_area .message_comment {
        background: url("../img/message_comment.png") no-repeat !important;
        background-size: contain !important;
    }
    .contact_form_area .contact_main_form .form-group {
        padding-bottom: 0px;
    }
    
}
@media screen and (max-width: 600px) {
    .cours_slider .cours_slider_carousel .owl-item{
        margin-right: 10px !important;
    }
    
    /* simple blog page responsive */
    
    /* end simple blog page responsive */
    
    /* simple blog detail page responsive */

    .simple_blog_right_content {
        padding: 0px 10px !important;
    }
    
    /* end simple blog detail page responsive */

    /* simple blog detail page responsive */
    .right_side {
        padding-left: 0px;
        padding-right: 0px;
    }
    .col_simple_blog_feature_img .simple_feature_image_main_box .simple_feature_image_box img {
        width: 730px !important;
        height: 300px;
        margin-left: -51px !important;
    }
    .simple_feature_box.col_simple_blog_feature_img::after {
        right: 46px !important;
        bottom: 71px !important;
    }
    .simple_blog_psot .simple_blog_feature_img .owl-prev, .simple_blog_psot .simple_blog_feature_slider .owl-prev, .simple_blog_psot .simple_blog_detail_feature_img .owl-prev {
        top: 44%;
    }
    .simple_blog_psot .simple_blog_feature_img .owl-next, .simple_blog_psot .simple_blog_feature_slider .owl-next, .simple_blog_psot .simple_blog_detail_feature_img .owl-next {
        top: 44%;
    }
    .simple_blog_area .simple_blog_psot .simple_blog_content_area {
        padding: 0px 0px 0px 10px;
    }
    .blog_date {
        float: none;
        overflow: hidden;
        padding-right: 10px;
        margin-top: 32px;
        padding-left: 10px;
    }
    /* end simple blog detail page responsive */
}
@media screen and (max-width: 570px) {
    .our_cours_area .cours_slider {
        width: 345px;
        margin: 0 auto;
    }
    .cours_slider .cours_slider_carousel .owl-item{
        margin-right: 30px !important;
    }
    .our_cours_area .cours_slider .cours_slider_carousel .owl-controls .owl-dots {
        padding-left: 18px;
    }
    .subscriber_area .subscribe_input_area .form-inline p {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 35px;
    }
    .contact_form_area .contact_main_form .name_group {
        width: 100%;
        float: none; 
        margin-right: 0px; 
        background-size: contain;
        height: 36px;
    }
    .contact_form_area .contact_main_form .email_group {
        width: 100%;
        float: none;
        background-size: contain;
        height: 36px;
    }
    .contact_form_area .contact_main_form .message_gropu {
        background: url("../img/contact_4.png") no-repeat;
        width: 100%;
        background-size: contain;
    }
    .contact_form_area .contact_main_form .form-group {
         padding-bottom: 0px; 
    }
    .contact_form_area .contact_main_form .subject_group {
        background: url("../img/contact_1.png") no-repeat;
        width: 100%;
        background-size: contain;
    }
    
    /* simple blog page responsive */
    .simple_blog_psot .simple_blog_feature_img .simple_feature_box, .simple_blog_psot .simple_blog_feature_slider .simple_feature_box, .simple_blog_psot .simple_blog_detail_feature_img .simple_feature_box {
        height: 300px;
    }
    .simple_blog_area .simple_blog_psot .simple_blog_content_area h3 a {
        font-size: 20px;
    }
    /* end simple blog page responsive */
    
    /* simple blog detail page responsive */
    .simple_blog_psot .simple_blog_feature_img .simple_feature_box::after, .simple_blog_psot .simple_blog_feature_slider .simple_feature_box::after, .simple_blog_psot .simple_blog_detail_feature_img .simple_feature_box::after {
        right: 402px;
    }
    .simple_blog_psot .simple_blog_feature_img .simple_feature_box::after, .simple_blog_psot .simple_blog_feature_slider .simple_feature_box::after, .simple_blog_psot .simple_blog_detail_feature_img .simple_feature_box::after {
        bottom: 0;
    }
    .blog_detail_middle_content_bg {
        margin: 36px 0px;
        overflow: hidden;
        transform: skew(-0deg); 
        color: #fff;
    }
    .blog_detail_middle_content_bg p {
        transform: skew(0deg); 
        padding: 22px 22px 22px 25px !important;
    }
    .blog_detail_middle_content_bg p::before {
        left: 5px;
    }
    /* end simple blog detail page responsive */
    
    /* detail page responsive */
    .header_main_area .about_header_bg .about_title_area h3 {
        font-size: 22px;
    }
    /* end detail page responsive */
}

@media screen and (max-width: 532px) {
    .header_main_area .feature_carusol_area .feature_carusol .feature_carusol_content h3{
        font-size: 18px;
    }
    .header_main_area .feature_carusol_area .feature_carusol .item:hover .feature_carusol_title_bg {
        left: -50%;
    }
    .tips_news_area .tips_news_main_content .tips_news_left_content {
        float: none;
    }
    /* About us page responsive */
    .header_main_area .about_header_bg .about_title_area h3 {
        line-height: 60px;
        padding-left: 15px;
        padding-top: 6px;
/*        font-size: 30px;*/
    }
    .header_main_area .about_header_bg .about_title_area .title_link {
        padding-right: 10px;
        line-height: 60px;
    }
    .header_main_area .about_header_bg .about_title_area .title_link i {
        font-size: 12px;
        margin: 0px 15px;
    }
    .about_total_area .about_img_description_area .about_box {
        height: 274px;
    }
    .about_total_area .about_img_description_area .about_box::after {
        right: 316px;
    }
    /* End About us page responsive */
    
    /* simple blog page responsive */
    
    .blog_box_video iframe {
        width: 100%;
    }
    /* end simple blog page responsive */
    
    /* simple blog detail page responsive */
    .blog_comment_area .blog_comment_content .main_img_content_area {
        margin: 0px 26px;
    }
    .blog_comment_area .blog_comment_content .main_img_content_area .media-left {
        padding-right: 0;
        margin-bottom: 13px;
        display: inline-block;
    }
    .media-body, .media-left, .media-right {
        display: inline;
    }
    .top_bg_title h2 {
        font-size: 25px;
    }
    .top_bg_title h4 {
        font-size: 18px;
    }
    .top_bg_title {
        top: 42%;
    }
    /* end simple blog detail page responsive */
    
    
    .course_detail_area .course_area_total .detail_box{
        width: 320px;
    }
    .course_detail_area .course_area_total .detail_box .detail_image_main_box {
        width: 871px;
        height: 983px;
    }

@media screen and (max-width: 470px) {
    
    .club_area .club_img_area .box {
        display: inline-block;
        width: 370px;
        height: 450px;
        overflow: hidden;
    }
    .club_area .club_img_area .box .image_main_box {
        width: 516px;
        height: 540px;
        overflow: hidden;
        display: block;
        position: relative;
        transform: rotate(45deg);
    }
    .club_area .club_img_area .box .image_main_box .image_box {
        transform: rotate(-45deg);
        margin-top: 10px;
        margin-left: -2px;
        position: relative;
    }
    .club_area .club_img_area .box .image_main_box .image_box img{
        width: 370px;
    }
    .next_cours_area .body_blance_pad .body_blance_area p {
        width: 100%;
    }
    .our_teacher_area .teacher_img_area .teacher_box .teacher_image_main_box .teacher_image_box img {
        margin-left: -110px;
        width: 300px;
    }
    .our_teacher_area .teacher_img_area .teacher_box .teacher_image_main_box {
        margin-left: -50px;
    }
    .our_teacher_area .teacher_img_area .teacher_box {
        margin-left: 0px;
    }
    .our_teacher_area .teacher_img_area .teacher_box .teacher_image_main_box .teacher_image_box:hover::before {
        border-width: 0 0 207px 207px;
    }
    .our_teacher_area .teacher_img_area .teacher_box .teacher_image_main_box .teacher_image_box::before {
        right: 69%;
    }
    .our_teacher_area .teacher_img_area .teacher_content {
        color: #fff;
        padding-left: 0px;
    }
    .our_teacher_area .col-md-3 .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .teacher_listing{
        margin-left: -15px;
        margin-right: -15px;
    }
    .facilities_area .facilities_tab_area .facilities_works-item .slingle_facilities_one {
        width: 100%;
        overflow: hidden;
    }
    .facilities_area .facilities_tab_area .facilities_works-item .single_facilities:hover::before {
        border-width: 0 0 1000px 1000px;
    }
    /* About us page responsive */
    .about_skill_area .skill_main ul li {
        padding-left: 8px;
    }
    /* End About us page responsive */
    
    /* simple blog page responsive */
    .simple_blog_psot .simple_blog_feature_img .simple_feature_box::after, .simple_blog_psot .simple_blog_feature_slider .simple_feature_box::after, .simple_blog_psot .simple_blog_detail_feature_img .simple_feature_box::after {
        right: 400px;
    }
    .simple_blog_feature_video iframe {
        height: 282px;
    }
    /* end simple blog page responsive */
    
    /* simple blog detail page responsive */
    
    /* end simple blog detail page responsive */


    .our_teacher_area .first_list{
        width: 100%;
        float: none;
        overflow: none;
    }
    .our_teacher_area .teacher_listing{
        width: 100%;
        float: none;
        overflow: none;
    }
}
@media screen and (max-width: 380px) {
    .header_main_area .feature_carusol_area .feature_carusol .item:hover .feature_carusol_title_bg {
        left: -99%;
    }
    .our_cours_area .cours_slider {
        padding-left: 10px;
        padding-right: 20px;
    }
    .our_cours_area{
        overflow: hidden;
    }
    .blance {
        padding-right: 10px;
    }
    .tips_news_area .tips_news_main_content .news_running_mg .running_left_content h3 a {
        padding-top: 22px;
    }
    .price_table {
        padding: 0 0px;
    }
    .subscriber_area .subscribe_input_area .form-inline .subscribe_group_one input[type="name"] {
        width: 330px;
    }
    .subscriber_area .subscribe_input_area .form-inline .subscribe_group_one {
        background-size: contain;
        width: 100%;
    }
    .subscriber_area .subscribe_input_area .form-inline .subscribe_group_two {
        background-size: contain;
        width: 100%;
        margin-left: 0;
    }
    /* About us page responsive */
    .about_total_area .about_img_description_area .about_box::after {
        right: 416px;
    }
    .about_skill_area .skill_main ul li:nth-child(3) {
        line-height: 17px;
    }
    .header_main_area .about_header_bg {
        height: 200px;
    }
    /* End About us page responsive */
    
    /* simple blog page responsive */
    
    /* end simple blog page responsive */
    
    /* simple blog detail page responsive */
    .simple_blog_psot .simple_blog_feature_img:hover .simple_feature_box:after, .simple_blog_psot .simple_blog_feature_slider:hover .simple_feature_box:after, .simple_blog_psot .simple_blog_detail_feature_img:hover .simple_feature_box:after{
        border-width: 0px 0px 400px 400px;
    }
    .simple_blog_psot .simple_blog_feature_img .simple_feature_box::after, .simple_blog_psot .simple_blog_feature_slider .simple_feature_box::after, .simple_blog_psot .simple_blog_detail_feature_img .simple_feature_box::after {
        right: 423px;
        bottom: 70px;
    }
    .simple_blog_psot .simple_blog_feature_img .simple_feature_box .simple_feature_image_main_box .simple_feature_image_box img, .simple_blog_psot .simple_blog_feature_slider .simple_feature_box .simple_feature_image_main_box .simple_feature_image_box img, .simple_blog_psot .simple_blog_detail_feature_img .simple_feature_box .simple_feature_image_main_box .simple_feature_image_box img {
        width: 400px;
        margin-left: -120px;
    }
    .header_main_area .about_header_bg.detail_bg{
        height: auto;
    }
    /* end simple blog detail page responsive */
}

@media screen and (max-width: 360px) {
        .col_simple_blog_feature_img .simple_feature_image_main_box .simple_feature_image_box img {
            width: 360px !important;
            height: 240px;
            margin-left: -71px !important;
        }
        .simple_feature_box.col_simple_blog_feature_img::after{
            right: 212px !important;
            bottom: 123px !important;
        }
    }
}