<div class="col-lg-4">
	<div class="page-sidebar">
		<div class="widget widget-search border-gradient-reg mb-30">
			<div class="widget-title">
				<h4>About Me</h4>
			</div>
			<div class="widget-content text-center">
				<img style="width:214px" src="https://cloud.squidex.io/api/assets/nodoubt223rd/b06e46d2-d706-4b63-aeee-9a58e0b011f3" alt="about" /><br/><br/>
				<a href="https://www.linkedin.com/in/brett-murphy-2297a018/" class="btn about-name btn-gradient-cate-info">Brett G. Murphy</a><br /><br />
					<p class="mb-0">Husband, Father of four lovely daughters, lover of art and music. Chronic dog petter and Sitecore developer.</p>
				</div>
			</div>
			<div class="widget widget-follows border-gradient-reg mb-30">
				<div class="widget-title">
					<h4>Follow Us</h4>
				</div>
				<div class="widget-content">
					<ul class="list-inline social mt-20 mb-0">
						<li class="list-inline-item"><a href="https://www.facebook.com/Nodoubt223rd" class="social-icon"><i class="mdi mdi-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/nodoubt223rd" class="social-icon"><i class="mdi mdi-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/nodoubt223rd/" class="social-icon"><i class="mdi mdi-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/brett-murphy-2297a018/" class="social-icon"><i class="mdi mdi-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>